# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.egg-info/
*.log

# Django
media/
staticfiles/
*.pot
*.mo
output.txt

# Environment
.env
.venv/
env/
venv/
ENV/

# Files
uploads/*
*.pdf
*.docx

# Test File exceptions
!/tailor/tests/test_media_root/uploads/
!/tailor/tests/test_media_root/uploads/*.pdf
!/tailor/tests/test_media_root/uploads/*.docx

